// bootstrap https://getbootstrap.com/docs/5.1/layout/containers/
// tailwind https://tailwindcss.com/docs/container

// /**

// .container 	100% 	540px 	720px 	960px 	1140px 	1320px
// .container-sm 	100% 	540px 	720px 	960px 	1140px 	1320px
// .container-md 	100% 	100% 	720px 	960px 	1140px 	1320px
// .container-lg 	100% 	100% 	100% 	960px 	1140px 	1320px
// .container-xl 	100% 	100% 	100% 	100% 	1140px 	1320px
// .container-xxl 	100% 	100% 	100% 	100% 	100% 	1320px
// .container-fluid

// **/

//
// md:container
/**
 * container from Bootstrap
 */

%container {
	padding-right: $layout-padding;
	padding-left: $layout-padding;
	margin-right: auto;
	margin-left: auto;
}

.container {
	// padding-right: $layout-padding;
	// padding-left: $layout-padding;
	// margin-right: auto;
	// margin-left: auto;
	@extend %container;
}

.container-fluid {
	@extend %container;
	width: 100%;
}

.no-gutters {
	padding-right: 0;
	padding-left: 0;
}

// /**
// tailwind ripoff: width in percentage with breakpoints
// */
@each $bp, $value in $container-max-widths {
	.container-#{$bp},
	.#{$bp}\:container {
		width: 100%;
		// width: #{$value};
		// max-width: 100%;
		@extend %container;
	}

	@include respond-above($bp) {
		.container {
			width: #{$value};
			max-width: 100%;
			padding-right: $layout-padding;
			padding-left: $layout-padding;
			margin-right: auto;
			margin-left: auto;
		}
		.container-#{$bp} {
			width: #{$value};
			max-width: 100%;
			padding-right: $layout-padding;
			padding-left: $layout-padding;
			margin-right: auto;
			margin-left: auto;
		}
		.#{$bp}\:container {
			width: #{$value};
			max-width: 100%;
			padding-right: $layout-padding;
			padding-left: $layout-padding;
			margin-right: auto;
			margin-left: auto;
		}
	}
}
