// /*
//    SKINS
//    - Backgrounds
//    - Colors
//    - Border colors
//    - SVG fills
//    - SVG Strokes
// */

/* backgrounds colors */
@each $name, $color in $colors {
  .bg-#{$name} {
    background-color: $color;
  }
}

/* Fills colors for SVG */
@each $name, $color in $colors {
  .fill-#{$name} {
    fill: $color;
  }
}

/* Text colors */
@each $name, $color in $colors {
  .text-#{$name} {
    color: $color;
  }
}

/* Border colors */
@each $name, $color in $colors {
  .border-#{$name} {
    border: 1px solid $color;
  }
}

/**
Filters only work when image/svg is black
*/
// source: https://codepen.io/sosuke/pen/Pjoqqp
.filter-yellow {
  filter: invert(86%) sepia(23%) saturate(722%) hue-rotate(360deg) brightness(106%) contrast(106%);
}
.filter-white {
  filter: invert(100%) sepia(100%) saturate(14%) hue-rotate(212deg) brightness(104%) contrast(104%);
}
.filter-black {
  filter: invert(0%) sepia(82%) saturate(7427%) hue-rotate(22deg) brightness(97%) contrast(103%);
}
.filter-blue-dark {
  filter: invert(13%) sepia(50%) saturate(3389%) hue-rotate(211deg) brightness(92%) contrast(112%);
}
.filter-green {
  filter: invert(64%) sepia(62%) saturate(609%) hue-rotate(17deg) brightness(102%) contrast(88%);
}
.filter-green-light {
  filter: invert(86%) sepia(21%) saturate(276%) hue-rotate(11deg) brightness(112%) contrast(91%);
}
.filter-red-error {
  filter: invert(12%) sepia(67%) saturate(6989%) hue-rotate(358deg) brightness(91%) contrast(91%);
}

// .bg {
//   &-gray {
//     background-color: $gray;
//     color: $black;
//   }
//   &-white {
//     background-color: $white;
//     color: $black;
//   }
//   &-black {
//     background-color: $black;
//     color: $white;
//   }
//   &-purple {
//     background-color: $purple;
//     color: $white;
//   }
//   &-blue {
//     background-color: $blue;
//     color: $black;
//   }
//   &-yellow {
//     background-color: $yellow;
//     color: $black;
//   }
//   &-red {
//     background-color: $red;
//     color: $black;
//   }
//   &-orange {
//     background-color: $orange;
//     color: $black;
//   }
//   &-orangered {
//     background-color: $orangered;
//     color: $black;
//   }
//   &-pink {
//     background-color: $pink;
//     color: $black;
//   }
// }
