// Primary colors
$purple: #c3c3f5;
$blue: #c3d9f5;
$red: #efbebb;
$orange: #f5d6ab;
$orangered: #fcc8b6;
$yellow: #fff689;

// shades (white -> black)
$offwhite: #f7f7f7;
$gray: #cfcfcf;
$offblack: #444444;

$black: #000000;
$blue-dark: #002269;
$green: #c5bf10;
$green-light: #f3f2cf;
$grey-dark: #a6a6a3;
$grey-mid: #d9d9d6;
$grey-light: #f5f5f1;
$white: #ffffff;
$red-error: #c51010;
$red-light: #fcf3f3;

// debug
$pink: #ffb5f5;

// scss map
$colors: (
	"purple": $purple,
	"blue": $blue,
	"red": $red,
	"orange": $orange,
	"orangered": $orangered,
	"yellow": $yellow,
	"offwhite": $offwhite,
	"gray": $gray,
	"offblack": $offblack,
	"pink": $pink,
	"black": $black,
	"blue-dark": $blue-dark,
	"green": $green,
	"green-light": $green-light,
	"grey-dark": $grey-dark,
	"grey-mid": $grey-mid,
	"grey-light": $grey-light,
	"white": $white,
	"red-error": $red-error,
	"red-light": $red-light,
);

// Core colors
$primary-color: #5755d9 !default;
$primary-color-dark: darken($primary-color, 3%) !default;
$primary-color-light: lighten($primary-color, 3%) !default;
$secondary-color: lighten($primary-color, 37.5%) !default;
$secondary-color-dark: darken($secondary-color, 3%) !default;
$secondary-color-light: lighten($secondary-color, 3%) !default;

// Gray colors
$dark-color: #303742 !default;
$light-color: #fff !default;
$gray-color: lighten($dark-color, 55%) !default;
$gray-color-dark: darken($gray-color, 30%) !default;
$gray-color-light: lighten($gray-color, 20%) !default;

$border-color: lighten($dark-color, 65%) !default;
$border-color-dark: darken($border-color, 10%) !default;
$border-color-light: lighten($border-color, 8%) !default;
$bg-color: lighten($dark-color, 75%) !default;
$bg-color-dark: darken($bg-color, 3%) !default;
$bg-color-light: $light-color !default;

// Control colors
$success-color: #32b643 !default;
$warning-color: #ffb700 !default;
$error-color: #e85600 !default;

// Other colors
$code-color: #d73e48 !default;
$highlight-color: #ffe9b3 !default;
$body-bg: $bg-color-light !default;
$body-font-color: lighten($dark-color, 5%) !default;
$link-color: $primary-color !default;
$link-color-dark: darken($link-color, 10%) !default;
$link-color-light: lighten($link-color, 10%) !default;

// Colors
$color-primary: #0088cc;
$color-black: #272727;
$color-white: #ffffff;

$color-info: #0088cc; // Blue
$color-success: #377f31; // Green
$color-danger: #880e14; // Red
$color-warning: #dba909; // Yellow
$color-code: #dd1144;

$color-gray-dark: #808080;
$color-gray-light: #e5e5e5;
$color-gray-lighter: #f7f7f7;
